doctype html
html
	head
		meta(name="charset=utf-8")
		title Test
		link(rel="stylesheet", href="./styles/main.min.css")
		script(src="https://code.jquery.com/jquery-3.1.1.min.js")
		script(src="./scripts/main.min.js")
	body
		div.container
			div.row
				div.col-lg-12.parent
					h1.parent__header Header1
					p.parent__text paragraph
					button.parent__button.parent__button__little(type="button") Add child div class "active"